.box{
  border: 1px solid black;
  border-radius: 5px;
  max-width: 600px;
  margin: 10px;
  background-image: url(./bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgb(136, 136, 238);
}
input{
  margin: 10px;
  padding: 5px 70px 5px 5px;
}
.btn1{
  margin: 10px 5px 10px 5px;
  padding: 5px;
  background-color: rgb(0, 89, 255);
  border: 1px solid rgb(0, 89, 255);
  border-radius: 2px;
  color: white;
}
.btn2 {
  margin: 10px 5px 10px 5px;
  padding: 5px;
  background-color: green;
  border: 1px solid green;
  border-radius: 2px;
  color: white;
}
h1{
  margin: 0px;
  padding: 0px 10px;
}
h3 {
  margin: 0px;
  padding: 0px 10px;
  text-transform: capitalize;
}
.weather{
  display: flex;
}
ul {
  list-style: none;
  margin: 5px 70px;
  padding: 15px 0px;
}
.forecast{
  display: flex;
  margin: 10px;
}
.weather-forecast{
  margin: 10px 30px;
}
.unit{
  font-size: 15px;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 10px 0px;
}
.temp {
  font-size: 60px;
}
.img{
  padding:20px 0px;
}
p{
  margin: 10px;
}
a{
  text-decoration: none;
}